<div class="ui text container">
<div class="ui raised segment">
<div class="ui divider">

</div><div class="ui divider">
</div><div class="ui divider">
</div><div class="ui divider">
</div><div class="ui divider">
</div><div class="ui divider">
</div><div class="ui divider">
</div><div class="ui divider">
</div><div class="ui divider">
</div><div class="ui divider">
</div><div class="ui divider">
</div><div class="ui divider">
</div><div class="ui divider">
</div><div class="ui divider">
</div><div class="ui divider">
</div><div class="ui divider">
</div><div class="ui divider">
</div><div class="ui divider">
</div><div class="ui divider">
</div><div class="ui divider">
</div><div class="ui divider">
</div><div class="ui divider">
</div><div class="ui divider">
</div><div class="ui divider">
</div><div class="ui divider">
</div><div class="ui divider">
</div><div class="ui divider">
</div><div class="ui divider">
</div><div class="ui divider">
</div><div class="ui divider">
</div><div class="ui divider">
</div><div class="ui divider">
</div><div class="ui divider">
</div><div class="ui divider">
</div><div class="ui divider">
</div><div class="ui divider">
</div><div class="ui divider">
</div><div class="ui divider">
</div><div class="ui divider">
</div></div></div>
