$import-google-fonts: false
@import semantic-ui
@import social-share-button

body
  display: flex
  min-height: 100vh
  flex-direction: column

main
  flex-grow: 1

#flash_message
  position: fixed
  left: 0
  right: 0
  z-index: 1
  margin: 10px

    

