
<footer class="footer">

			<div class="container">

				<div class="row">

					<div class="col-sm-12 text-center">
						<p class="copyright font-inc m-b-0">Copyright ©2017 <a href="#">林生轩</a>, Design by Jude.</p>
					</div>

				</div>

			</div>

		</footer>
