

	<!-- NAVIGATION -->
	<nav class="navbar navbar-custom navbar-transparent navbar-fixed-top" role="navigation">

			<div class="container">

				<div class="navbar-header">

					<a class="navbar-brand" href="/">胶澳学堂</a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

					<ul class="nav navbar-nav navbar-right">

						<li class="dropdown">
							<a  class="dropdown-toggle" data-toggle="dropdown">首页</a>
							<ul class="dropdown-menu">
								<li><a href="/admin/products">test</a></li>
								<li><a href="#">test</a></li>
								<li><a href="#">test</a></li>
								<li><a href="#">test</a></li>

							</ul>
						</li>

						<li><a href="about.html">关于我们</a></li>

						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">test</a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="#"><i class="fa fa-bolt"></i> test</a></li>
								<li><a href="#"><i class="fa fa-link fa-sm"></i> test</a></li>
								<li><a href="#"><i class="fa fa-tasks"></i> test</a></li>
								<li><a href="#"><i class="fa fa-list-alt"></i> test</a></li>

							</ul>
						</li>

						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">课程中心</a>
							<ul class="dropdown-menu" role="menu">

								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">审美</a>
									<ul class="dropdown-menu">
										<li><a href="#">test</a></li>
										<li><a href="#">test</a></li>
										<li><a href="#">test</a></li>

									</ul>
								</li>

								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">取景</a>
									<ul class="dropdown-menu">
										<li><a href="#">test</a></li>
										<li><a href="#">test</a></li>
										<li><a href="#">test</a></li>

									</ul>
								</li>

								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">后期 APP</a>
									<ul class="dropdown-menu">
										<li><a href="#">test</a></li>
										<li><a href="#">test</a></li>
										<li><a href="#">test</a></li>

									</ul>
								</li>

								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">自拍</a>
									<ul class="dropdown-menu">
										<li><a href="#">test</a></li>
										<li><a href="#">test</a></li>
										<li><a href="#">test</a></li>
									</ul>
								</li>

								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">风景</a>
									<ul class="dropdown-menu">
										<li><a href="#">test</a></li>
										<li><a href="#">test</a></li>
										<li><a href="#">test</a></li>
									</ul>
								</li>

								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">人像</a>
									<ul class="dropdown-menu">
										<li><a href="#">test</a></li>
										<li><a href="#">test</a></li>
										<li><a href="#">test</a></li>
									</ul>
								</li>

								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">静物</a>
									<ul class="dropdown-menu">
										<li><a href="#">test</a></li>
										<li><a href="#">test</a></li>
										<li><a href="#">test</a></li>
									</ul>
								</li>

							</ul>
						</li>


						<li><a href="about.html">购物车</a></li>



						<li><%= link_to("注册", new_user_registration_path) %> </li>
            <li><%= link_to("登入", new_user_session_path) %></li>
						<li><%= link_to("订单列表", account_orders_path) %></li>
						<li><%= link_to("登出", destroy_user_session_path) %></li>




					</ul>
				</div>

			</div>

	</nav>
	<!-- /NAVIGATION -->
